<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.puzzlesmentales">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".igu.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".igu.MainActivity"
            android:theme="@style/AppThemePrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".igu.NuevoJuegoActivity"
            android:label="Empezar nuevo juego" />
        <activity
            android:name=".igu.opciones.SudokuConfigActivity"
            android:label="Configuración Sudoku"
            android:theme="@style/AppThemeSudokuYSopaConfiguracion" />
        <activity
            android:name=".igu.sopa.SopaActivity"
            android:label="Sopa de Letras"
            android:theme="@style/AppThemeSudokuYSopaConfiguracion" />
        <activity
            android:name=".igu.opciones.SopaLetrasConfigActivity"
            android:label="Configuración Sopa"
            android:theme="@style/AppThemeSudokuYSopaConfiguracion"
            android:windowSoftInputMode="adjustPan" /> <!-- El windowSoftInputMode sube el edittext al abrir el teclado -->
        <activity
            android:name=".igu.sudoku.SudokuActivity"
            android:label="Sudoku"
            android:theme="@style/AppThemeSudokuYSopaConfiguracion" />
        <activity
            android:name=".igu.CargarPartidaActivity"
            android:label="Cargar partida"/>
        <activity
            android:name=".igu.opciones.OpcionesActivity"
            android:label="@string/opciones"
            android:parentActivityName=".igu.MainActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>